name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Lint
        run: make lint

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Image
        run: make image

  test-host:
    name: Test (host mode)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Tests
        env:
          GO_TEST_TIMEOUT: 20m
          DC2_TEST_MODE: host
        run: make test

  test-container:
    name: Test (container mode)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Tests
        env:
          GO_TEST_TIMEOUT: 20m
          DC2_TEST_MODE: container
        run: make test
